    .cards-container
    {
        width: 360px;
        margin-bottom: 45px;
        cursor: pointer;
    }


    .cards-container.small
    {
        margin-bottom: 10px;
    }

    .img-bg.small
    {
        display: flex;
    }

    .img-bg img
    {
        width: 100%;
        height: 202px;
        background-color: #999;
        flex: 1;
    }

    .img-bg img.small
    {
        width: 60%;
        height: 100px;
    }

    
    .img-bg .detail {
        display: flex;
        align-items: center;
        margin-top: 16px;
        gap: 12px;
        flex: 1;
    }

    .img-bg .detail.small
    {
        margin-top: 0;
    }
    

    .img-bg .channelImage {
        width: 36px;
        height: 36px;
        border-radius: 50%;
    }

    .img-bg .channelImage.small {
        display: none;
    }


    .img-bg .title
    {
        font-size: 16px;
        font-weight: 500;
    }


    .img-bg .text.small
    {
        font-size: 12px;
        margin-left: 15px;
    }

    .img-bg .title.small
    {
        font-size: 12px;
        font-weight: 400;
    }

    .img-bg .channelName
    {
        font-size: 12px;
        margin: 9px 0px;
        color: #aaaaaa;
    }

    .img-bg .channelName
    {
        font-size: 10px;
        font-weight: 300;
    }


    .img-bg .info
    {
        font-size: 11.3px;
        /* color: #aaaaaa; */
    }

    .img-bg .info.small
    {
        margin-top: -5px;
        font-size: 9.5px;
        /* color: #aaaaaa; */
    }