*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background: #2A2626;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
}


.app-container
{
    display: flex;
}

.main
{
    width: 100%;
}

.video-cards
{
    padding: 22px 89px;
}